$bg:#000000;
$color:#ffffff;
$padding:20px;
$gradient-first-color:#ef629f;
$gradient-second-color:#eecda3;
$text-margin:10px 0;
$gradient:linear-gradient(to right,$gradient-first-color,$gradient-second-color);
$radius-mini:8px;
$header-height:183px;